/* DESKTOP FIRST */

/* GLOBAL SETTINGS */

* {
    font-family: 'Open Sans', arial, helvetica, sans-serif;
    overflow-x: hidden;
    background-image: url("paper.gif");
}

body {
    margin: 0;
    margin-left: 60px;
    margin-right: 60px;
    padding: 0;
}

.layout {
    max-width: 700px;
    min-width: 100px;
    margin: 10px auto 10px auto;
    border: none;
    background-color: #ffffff;
    padding-top: 12em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 2em;
}

.center-img {
    text-align: center;
}

.circle {
    max-width: 120px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 100%;
    margin: 4px 2px;
    padding: 20px;
}

.circle:hover {
    color: white;
    background-color: #FFACA3;
    transition: all 1s;
    cursor: pointer;
}

.student-life-img {
    max-width: 300px;
    padding: 1em;
}

.study-abroad-img {
    max-width: 300px;
    padding: 1em;
}

h1 {
    position: relative;
    margin: 0;
    font-size: 35px;
    font-family: 'Lato', 'Montserrat Subrayada', sans-serif;
    text-shadow: 4px 4px #FFE8E6;
    color: #F8817B;
}

p a {
    text-decoration: none;
}

div {
    overflow-y: hidden;
}

/* GLOBAL navigation */

.logo-front {
    position: fixed;
    margin: 5px;
    padding: 90px;
    background-image: url(../img/kea-logo_3.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.search-nav {
    width: 20px;
    position: fixed;
    right: 0px;
    padding-right: 10em;
    padding-top: 20px;
}

.language {
    width: 20px;
    position: fixed;
    right: 0px;
    padding-right: 7em;
    padding-top: 5px;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* LOCAL navigation */

/*.hide-burger {
    display: none;
}*/

input {
    display: none;
}

label {
    display: none;
}

.local-nav {
    position: fixed;
    display: block;
    top: 20%;
    left: 0;
    height: 80vh;
    /*background-color: white;*/
    padding: 25px;
}

.local-nav a {
    padding: 15px;
    padding-right: 30px;
    padding-left: 25px;
    display: block;
    font-size: 1em;
    color: black;
    font-weight: 500;
    text-transform: capitalize;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'lato', sans-serif;
}

.local-nav .nav-title {
    font-size: 50px;
    text-transform: capitalize;
    font-weight: 400;
    text-align: center;
    color: #140D0D;
    font-family: 'Lato', sans-serif;
    text-shadow: 2px 2px #f4e0fc;

}

#intro-nav:hover,
#program-nav:hover,
#adm-nav:hover,
#abroad-nav:hover,
#student-nav:hover,
#top-nav:hover,
#career-nav:hover,
#contact-nav:hover {
    color: white;
    background-color: #f4e0fc;
    transition: all 0.3s;
}

.active-color {
    color: white;
    background-color: #F8817B
}

/* front section */

.front-square {
    position: fixed;
    top: 0;
    right: 10vw;
    width: 70vw;
    height: 100vh;
}

.title {
    padding: 30px;
    padding-top: 20px;
    font-weight: 500;
    font-size: 50px;
    /* font-family: 'Archivo Black', 'Bungee Shade', 'Bungee', sans-serif;*/
    font-family: 'Lato', sans-serif;
    text-shadow: 2px 2px #ffffff;
    letter-spacing: 5px;
}

/* global size for section images */

.img-header {
    position: relative;
    margin-top: 90px;
    margin-left: 60px;
    padding: 70px;
    width: 100vw;
    height: 9vh;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100vw;
    height: 9vh;
    background-size: contain;
    background-repeat: no-repeat;
}


/* introduction */

.intro-img {
    max-width: 200px;
    padding: 0.3em;
}

/* study program */

.time {
    padding: 20px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    grid-gap: 10px;
}


.year {
    margin-top: 40px;
    padding: 18px;
    grid-column: 1/-1;
    font-size: 20px;
    background-color: #DCD9D9;
}

.semester {
    padding: 12px;
    font-size: 15px;
    background-color: #DCD9D9;
}

.project {
    padding: 40px 10px 40px 10px;
    font-size 12px;
    background-color: #FFACA3;
}

#mmd1-btn:hover,
#mmd2-btn:hover,
#mmd3-btn:hover,
#intern-btn:hover,
#elect-btn:hover,
#final-btn:hover {
    color: white;
    background-color: #F8817B;
    transition: all 0.3s;
    cursor: pointer;
}


/* modals in study program */

.modal {
    position: fixed;
    padding-top: 10vh;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: auto;
    background: rgba(0, 0, 0, 0.8);
}

.modal-content {
    position: relative;
    margin: auto;
    padding: 10px;
    width: 60vw;
    height: 60vh;
    background-color: white;
    overflow: scroll;
    overflow-x: hidden;
}

.modal-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.modal-content::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.modal-content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

.modal-title {
    padding: 0;
    font-size: 40px;
    text-align: center;
}

.ects-points {
    padding: 0;
    font-size: 15px;
    text-align: center;
}

.close {
    position: absolute;
    padding: 15px;
    top: 5%;
    right: 3%;
    background-position: right;
    background-repeat: no-repeat;
    background-image: url(../img/close-button.svg)
}

.description {
    padding: 20px 50px 20px 50px;
}

.knowledge,
.skills,
.competencies {
    padding: 20px 50px 20px 50px;
}

.knowledge li,
.skills li,
.competencies li {
    padding: 5px;
}

.cat-title {
    font-weight: bold;
}

.list-internship {
    text-align: center;
    list-style-type: none;
}

.list-title {
    padding: 10px;
    font-size: 20px;
}

button {
    padding: 10px;
    font-size: 15px;
    justify-content: center;
    background-color: #FFACA3;
}

/* admission */

/*.img-admission {
    background-image: url(../img/red-headers/red-admission.png);
}*/

.adm-container {
    display: grid;
    grid-template-columns: .5fr .5fr;
    /*padding: 20px 40px 20px 50px;*/
}

.adm-container p {
    padding: 10px;
}

.list-adm li {
    padding: 10px;
}

.adm-elem1,
.adm-elem2,
.adm-elem3,
.adm-elem4,
.adm-elem5,
.adm-elem6,
.adm-elem7,
.adm-elem8,
.adm-elem9,
.adm-elem10 {
    margin: 5px;
    padding: 15px;
    background-color: #FFACA3;
}

.adm-elem1:hover,
.adm-elem2:hover,
.adm-elem3:hover,
.adm-elem4:hover,
.adm-elem5:hover,
.adm-elem6:hover,
.adm-elem7:hover,
.adm-elem8:hover,
.adm-elem9:hover,
.adm-elem10:hover {
    color: white;
    background-color: #F8817B;
    cursor: pointer;

}

.change-color {
    color: white;
    background-color: black;
}

.hide {
    display: none;
}

/* study abroad */

/*.img-abroad {
    background-image: url(../img/red-headers/red-study-abroad.png);
}*/

.country-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.country {
    padding: 20px;
    text-align: center;
}

.country h3 {
    color: gray;
}

/* contact */

.contact-table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 40px;
    overflow: hidden;
}

.email {
    padding: 20px;
    padding-top: 30px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.search {
    width: 20px;
    position: fixed;
    right: 0px;
    padding-right: 21.5em;
    padding-top: 20px;
}

.icons {
    padding: 5px;
    text-align: center;
}

.icons img {
    max-width: 150px;
}

/*
.email input {
    margin: 5px;
    padding: 5px;
    border-style: none;
}

.email input:hover {
    color: white;
    background-color: #f4e0fc;
    transition: all 0.2s;
}
*/

textarea {
    max-width: 400px;
    max-height: 120px;
    overflow: hidden;
}


footer {
    padding: 10px;
    /*background-color: yellow;*/
}

/* ---------- TABLET/ BREAKPOINT - Burger Menu ---------- */

@media all and (max-width:70em) {

    /* DO NOT DISPLAY GLOBAL */
    footer {
        padding: 10px;
        /*background-color: red;*/
    }

    .search-nav {
        display: none;
    }

    .language {
        display: none;
    }

    .search {
        display: none;
    }

    /* TABLET STYLING*/
    .logo-front {
        max-width: 50px;
    }
    h1 {
        font-size: 30px;
    }

    h2 {
        0.8em;
    }

    h3 {
        0.8em;
    }

    p {
        font-size: 0.8em;
    }

    .layout {
        max-width: 700px;
        min-width: 100px;
        margin: 10px auto 10px auto;
        border: none;
        background-color: #ffffff;
        padding-top: 10em;
        padding-left: 10em;
        padding-right: 0.5em;
        padding-bottom: 2em;
    }

    .icons img {
        max-width: 120px;
    }

    .local-nav {
        padding: 0;
    }
}

/* ---------- MOBILE/ BREAKPOINT - Burger Menu ---------- */

@media all and (max-width:40em) {

    /* DO NOT DISPLAY MOBILE*/
    .logo-front {
        display: none;
    }
    /* STYLING MOBILE */
    footer {
        padding: 10px;
        /*background-color: blue;*/
    }

    .layout {
        max-width: 700px;
        min-width: 50px;
        margin: 10px auto 10px auto;
        border: none;
        background-color: #ffffff;
        padding-top: 4em;
        padding-left: 1em;
        padding-right: 0.5em;
        padding-bottom: 2em;
    }

    /* BURGER BAR*/
    input {
        display: none;
    }

    label {
        cursor: pointer;
        color: #F8817B;
        display: block;
        padding: 0;
        left: 0;
        font-size: 2em;
        padding-left: 0.2em;
        padding-top: 0.2em;
        position: fixed;
    }

    .local-nav {
        max-height: 0;
        overflow: hidden;
    }

    input:checked ~ nav {
        max-height: 500px;
    }

    .local-nav {
        position: fixed;
        display: block;
        top: 3.2em;
        left: 0;
        height: 70vh;
        padding: 0;
        background: linear-gradient(#FFACA3, #FFA39D, #FF9C96, #FF8B81, #F8817B);
    }

    .local nav a {
        padding: 5px;
        padding-right: 5px;
        padding-left: 25px;
        display: block;
        font-size: 0.8em;
        color: black;
        font-weight: 500;
        text-transform: capitalize;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'lato', sans-serif;
        background-color: white;
    }
}

.local-nav .nav-title {
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 400;
    text-align: center;
    color: #140D0D;
    font-family: 'Lato', sans-serif;
    text-shadow: 2px 2px #F8817B;
}

#intro-nav:hover,
#program-nav:hover,
#adm-nav:hover,
#abroad-nav:hover,
#student-nav:hover,
#top-nav:hover,
#career-nav:hover,
#contact-nav:hover {
    color: white;
    background-color: #FFACA3;
    transition: all 0.3s;
}

.active-color {
    color: white;
    background-color: #F8817B;
}

}
